<!DOCTYPE html>
<html>
  <head>
    <title> autism </title>
     <style>
    h1 {
       font-size:60px;
       font-family:
       font-weight:
       color:
       text-align:centre;
      
    }
    #banner{
      width:100%;
      height:360px; 
      object-fit: cover;
    }
    h2{
      font-family:
      font-size:40px;
      color:rgb(200,25,0);
      text-align:centre;
    }
    h4{
      text-align:centre;
    }
      
      
    
      #container{
        max-width:720;
        margin: 0 auto 0 auto ;
    }
      
      
    
      </style>
  </head>
  <h1>AUTISTURO</h1>
  <h2>a first helping hand to you ......</h2>
  <nav>
        <a href="#">What is Autism?</a>
        <a href="#">Information </a>
        <a href="#">Pyscologists</a>
        <a href="#">Psychiatrists</a>
        <a href="#">Therapies</a>
    </nav>
 
<body>
  <img id="banner" src="https://health-1.shrutisahu2.repl.co/static/11.jpg" height="400" width ="1000">
  <div id="container">
  <h4>WHO IS THIS SITE FOR ?</h4>  
  <p>This site is suited to parents who think their child may experience traits of autism, such as difficulty with social interaction and interpreting others’ emotions, or preferring to stick to a fixed routine. However, as autism is a spectrum condition, individual traits will differ from person to person. </p>
    <div style="text-align:centre;">
  <button>Take The Test</button></div>
  <h4>WHY IS IT WORTH TAKING THE TEST?</h4>
  <p>While this quiz is not a diagnosis for autism, the test can give you an indication of whether your child has traits of autism. If you score highly on this quiz, you may wish to speak to your GP about arranging a formal diagnosis.

A diagnosis can help you to access the support your child needs and can help explain to others what this support should be.</p>
  <button>Contact Us</button>
  <button>Raise Queries</button>
    </div>
  </body>

</html>